#wrap {}
/* main */
#wrap main {}
/* 1행 메인 사진 */
#wrap main #main_wrap {
    
}
#wrap main #main_wrap .img_wrap {
    background: url(../image/img_car.png) no-repeat center / contain, url(../image/img_eline.png) no-repeat #00b8ff center / cover;
    height: 100vh;
    padding: 160px 0 0 320px;
}
#wrap main #main_wrap .img_wrap .img_contents {
    width: max-content;
    text-align: center;
}
#wrap main #main_wrap .img_wrap .img_contents h1 {
    font-size: 7.5rem; font-weight: 700; line-height: 1.4;
    color: #fff;
    margin-bottom: 70px;
}
#wrap main #main_wrap .img_wrap .img_contents .app_down {
    font-size: 1.875rem; font-weight: 500; line-height: 1.4;
    padding: 16px 32px;
    background-color: #fff; border-radius: 48px;
    color: #00b8ff;
    margin: 0 auto;
    display: flex; gap: 30px;
}
#wrap main #main_wrap .img_wrap .img_contents .app_down img {}
/* 2행 내용 */
#wrap main #main_wrap .contents_wrap {
    text-align: center;
}
#wrap main #main_wrap .contents_wrap > h1 {
    font-size: 3.75rem; font-weight: 700; line-height: 1.4; color: #00b8ff;
    margin:160px 0 30px 0;
}
#wrap main #main_wrap .contents_wrap > p {
    font-size: 1.5rem; line-height: 1.4;
    margin-bottom: 80px;
}
#wrap main #main_wrap .contents_wrap .contents_li {
    border: 1px solid red;
    width: max-content;
    display: flex; margin: 0 auto;
    margin-bottom: 160px;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style {
    padding: 0 105px; width: 100%;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_line {position: relative;}
#wrap main #main_wrap .contents_wrap .contents_li .contents_line::after {
    content: ''; display: block;
    width: 1px; height: 260px;
    background-color: #00b8ff;
    position: absolute; left: 420px; top: 50%; transform: translateY(-50%);
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style h2 {
    font-size: 1.875rem; font-weight: 500; line-height: 1.4; color: #00b8ff;
    margin-bottom: 12px;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style p:nth-child(2) {
    font-size: 1.125rem; font-weight: 300; line-height: 1.4;
    margin-bottom: 30px;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style p:nth-child(3) img {}
/* 3행 퀴즈 */
#wrap main #main_wrap .quiz_wrap {
    background-color: #00b8ff;
    text-align: center;
}
#wrap main #main_wrap .quiz_wrap > h1 {
    font-size: 3.75rem; font-weight: 700; line-height: 1.4; color: #fff;
    margin:160px 0 30px 0;
}
#wrap main #main_wrap .quiz_wrap > p {
    font-size: 1.5rem; line-height: 1.4;
    margin-bottom: 80px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents {}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap {
    width: 1280px; background-color: #fff; border-radius: 30px;
    margin: 0 auto; display: flex;
    text-align: left;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap h2 {}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice {
    display: flex; flex-flow: column nowrap;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label {}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label input[name=quiz] {}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice {
    text-align: left;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice dt{}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice dd{}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_btn{}
