#wrap {}
/* main */
#wrap main {}
/* 1행 메인 사진 */
#wrap main #main_wrap {}
#wrap main #main_wrap .img_wrap {
    background: url(../image/img_car.png) no-repeat center / contain, url(../image/img_eline.png) no-repeat #00b8ff center / cover;
    height: 100vh;
    padding: 160px 0 0 320px;
}
#wrap main #main_wrap .img_wrap .img_contents {
    width: max-content;
    text-align: center;
}
#wrap main #main_wrap .img_wrap .img_contents h1 {
    font-size: 7.5rem; font-weight: 700; 
    color: #fff;
    margin-bottom: 70px;
}
#wrap main #main_wrap .img_wrap .img_contents .app_down {
    width: max-content;
    font-size: 1.875rem; font-weight: 500; 
    padding: 16px 32px;
    background-color: #fff; border-radius: 48px;
    color: #00b8ff;
    margin: 0 auto;
    display: flex;
}
#wrap main #main_wrap .img_wrap .img_contents .app_down img {
    margin-right: 30px;
}
/* 2행 내용 ================================================================== */
#wrap main #main_wrap .contents_wrap {}
#wrap main #main_wrap .contents_wrap .contents_container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
#wrap main #main_wrap .contents_wrap .contents_container > h1 {
    font-size: 3.75rem; font-weight: 700;  color: #00b8ff;
    margin:160px 0 30px 0;
}
#wrap main #main_wrap .contents_wrap .contents_container > p {
    font-size: 1.5rem; 
    margin-bottom: 80px;
}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 160px;
}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li .contents_style {
    width: 100%;
}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li .contents_line {position: relative;}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li .contents_line::after {
    content: ''; display: block;
    width: 1px; height: 260px;
    background-color: #00b8ff;
    position: absolute; left: 420px; top: 50%; transform: translateY(-50%);
}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li .contents_style h2 {
    font-size: 1.875rem; font-weight: 500;  color: #00b8ff;
    margin-bottom: 12px;
}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li .contents_style p:nth-child(2) {
    font-size: 1.125rem; font-weight: 300; 
    margin-bottom: 30px;
}
#wrap main #main_wrap .contents_wrap .contents_container .contents_li .contents_style p:nth-child(3) img {}
/* 3행 퀴즈 ================================================================== */
#wrap main #main_wrap .quiz_wrap {
    background-color: #00b8ff;
    text-align: center;
    padding: 160px 0;
}
#wrap main #main_wrap .quiz_wrap .quiz_container {
    width:1280px;
    margin: 0 auto;
}
#wrap main #main_wrap .quiz_wrap .quiz_container > h1 {
    font-size: 3.75rem; font-weight: 700;  color: #fff;
    margin-bottom: 30px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container > p {
    font-size: 1.5rem; 
    margin-bottom: 80px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents {}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap {
    width: 1280px; background-color: #fff; border-radius: 30px;
    margin: 0 auto 80px; display: flex; padding: 40px 60px; align-items: center;
    text-align: left;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .left_wrap {margin-right: 89px;}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .left_wrap h2 {
    font-size: 2.125rem; font-weight: 600; 
    margin-bottom: 40px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice {
    display: flex; flex-flow: column nowrap;
    margin: 0 0 0 50px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label {
    margin-bottom: 12px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label input[name=quiz] {display: none;}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label input[name=quiz] +span {
    font-size: 1.5rem; 
    background: url(../image/icon_quiz_off.png) no-repeat; background-position-y: 7px ;
    padding-left: 32px;
    
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .quiz_notice {
    text-align: left; height: max-content;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .quiz_notice dt{
    font-size: 1.125rem; font-weight: 600; 
    color: #00b8ff; width: max-content;
    border-bottom: 2px solid #00b8ff;
    margin-bottom: 8px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .quiz_notice dd:nth-child(2){
    margin-bottom: 30px;
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_contents_wrap .quiz_notice dd{
    font-size: 1.125rem; 
}
#wrap main #main_wrap .quiz_wrap .quiz_container #quiz_contents .quiz_btn{}
.btn_style{
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 40px;
    background-color: #fff;
    font-size: 1.75rem; font-weight: 500;  color: #00b8ff;
    border-radius: 50px;
    position: relative; left: 50%; transform: translateX(-50%);
}
.btn_style img{
    margin-left: 4px;
}
/* 4행 동영상 ================================================================== */
#wrap main #main_wrap .video_wrap {
    text-align: center;
    padding-bottom: 160px;
}
#wrap main #main_wrap .video_wrap .event_line {
    padding: 100px 0 160px 0;
}
#wrap main #main_wrap .video_wrap .event_line p:nth-child(1){
    height: 80px;
    background: url(../image/socar_line01.png) repeat-x center;
}
#wrap main #main_wrap .video_wrap .event_line p:nth-child(2){
    height: 80px;
    background: url(../image/socar_line02.png) repeat-x left;
}
#wrap main #main_wrap .video_wrap .video_contents {
    width: 1280px;
    margin: 0 auto;
}
#wrap main #main_wrap .video_wrap .video_contents iframe{
    margin-bottom: 60px;
}
#wrap main #main_wrap .video_wrap .video_contents .youtube_btn {
    border: 1px solid #00b8ff;
    width: max-content;
}
/* 5행 서비스 스크롤 ===================================================================== */

/* 6행 월간 ========================================== */
#wrap main #main_wrap .month_e_wrap{
    padding: 140px 0 160px;
}
#wrap main #main_wrap .month_e_wrap .month_e_title {
    width: 1380px;
    margin: 0 auto;
}
#wrap main #main_wrap .month_e_wrap .month_e_title > h1 {
    font-size: 3.75rem; font-weight: 700; color: #00b8ff;
    position: relative; left: 50px;
    margin-bottom: 80px;
}
#wrap main #main_wrap .month_e_wrap .month_e_title > h1 em{
    font-weight: 700; color: #fff;
    position: relative;
    z-index: 1;
}
#wrap main #main_wrap .month_e_wrap .month_e_title > h1 em::after{
    content: '';
    background-color: #00b8ff; width: 304px; height: 64px;
    position: absolute; left: 0; top: 55%; transform: translateY(-50%);
    z-index: -1; /* z-index: -값 주기 */
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents {
    display: flex; gap: 60px;
    margin-bottom: 80px;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e {
    text-align: center; padding: 50px 32px;
    border: 1px solid #00b8ff; border-radius: 30px;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > h2 {
    margin-bottom: 28px; font-size:1.375rem; font-weight: 600;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > h2 em{
    font-weight: 600; color: #FF1500;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > h3 {
    font-size: 1.25rem;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > p {
    font-size: 3.75rem; font-weight: 800;
    margin-bottom: 28px;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > p:last-child {
    margin-bottom: 0;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > p em {
    font-size: 1.5rem; font-weight: 800;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > p.month_e_confirm {
    color: #00b8ff;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_contents .month_e > p.month_e_confirm em {
    color: #00b8ff;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_btn {
    width: max-content;
    background-color: #00b8ff;
    color: #fff;
}
#wrap main #main_wrap .month_e_wrap .month_e_title .month_e_btn img {
    filter: brightness(0) invert(1); /* 단색 이미지를 필터를 이용해 흰색으로 만드는 방법 */
}
/* 7행 숙박 ========================================== */
#wrap main #main_wrap .dormitory_wrap {
    padding: 160px;
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap {
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_title{
    display: flex;
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_title > h1{
    font-size: 5rem; font-weight: 700; line-height: 1.2;
    writing-mode: vertical-rl; text-orientation: upright; /* 텍스트 세로 쓰기하는 방법 */
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_title > h1:nth-child(1) {}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_title > h1:nth-child(2) {}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_title > h1:nth-child(3) {}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_contents_box {
    display: flex; gap: 40px; flex-flow: row wrap;

}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_contents_box li {
    width: 420px; height: 540px;
    border: 1px solid #D9D9D9; border-radius: 40px;
    text-align: center;
    padding: 80px 30px;
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_contents_box li h2 {
    font-size: 2.5rem; font-weight: 600; line-height: 1.5;
    margin-bottom: 35px;
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_contents_box li p:nth-of-type(1)  {
    font-size: 1.25rem;
    margin-bottom: 35px;
}
#wrap main #main_wrap .dormitory_wrap .dormitory_contents_wrap .dormitory_contents_box li .dormitory_icon  {}
/* 8행 이미지 ========================================== */
#wrap main #main_wrap .car_bg_wrap {}
#wrap main #main_wrap .car_bg_wrap .car_bg::before{
    content: ''; display: block;
    height: 80vh;
    background: rgba(0, 0, 0, 0.4);
}
#wrap main #main_wrap .car_bg_wrap .car_bg{
    height: 80vh;
    background: url(../image/img_car_driving.jpg) no-repeat fixed center 60% / cover;
}