#wrap {}
/* main */
#wrap main {}
/* 1행 메인 사진 */
#wrap main #main_wrap {}
#wrap main #main_wrap .img_wrap {
    background: url(../image/img_car.png) no-repeat center / contain, url(../image/img_eline.png) no-repeat #00b8ff center / cover;
    height: 100vh;
    padding: 160px 0 0 320px;
}
#wrap main #main_wrap .img_wrap .img_contents {
    width: max-content;
    text-align: center;
}
#wrap main #main_wrap .img_wrap .img_contents h1 {
    font-size: 7.5rem; font-weight: 700; line-height: 1.4;
    color: #fff;
    margin-bottom: 70px;
}
#wrap main #main_wrap .img_wrap .img_contents .app_down {
    width: max-content;
    font-size: 1.875rem; font-weight: 500; line-height: 1.4;
    padding: 16px 32px;
    background-color: #fff; border-radius: 48px;
    color: #00b8ff;
    margin: 0 auto;
    display: flex;
}
#wrap main #main_wrap .img_wrap .img_contents .app_down img {
    margin-right: 30px;
}
/* 2행 내용 ================================================================== */
#wrap main #main_wrap .contents_wrap {
    text-align: center;
}
#wrap main #main_wrap .contents_wrap > h1 {
    font-size: 3.75rem; font-weight: 700; line-height: 1.4; color: #00b8ff;
    margin:160px 0 30px 0;
}
#wrap main #main_wrap .contents_wrap > p {
    font-size: 1.5rem; line-height: 1.4;
    margin-bottom: 80px;
}
#wrap main #main_wrap .contents_wrap .contents_li {
    width: 1280px;
    display: grid; margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 160px;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style {
    width: 100%;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_line {position: relative;}
#wrap main #main_wrap .contents_wrap .contents_li .contents_line::after {
    content: ''; display: block;
    width: 1px; height: 260px;
    background-color: #00b8ff;
    position: absolute; left: 420px; top: 50%; transform: translateY(-50%);
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style h2 {
    font-size: 1.875rem; font-weight: 500; line-height: 1.4; color: #00b8ff;
    margin-bottom: 12px;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style p:nth-child(2) {
    font-size: 1.125rem; font-weight: 300; line-height: 1.4;
    margin-bottom: 30px;
}
#wrap main #main_wrap .contents_wrap .contents_li .contents_style p:nth-child(3) img {}
/* 3행 퀴즈 ================================================================== */
#wrap main #main_wrap .quiz_wrap {
    background-color: #00b8ff;
    text-align: center;
    padding: 160px 0;
}
#wrap main #main_wrap .quiz_wrap > h1 {
    font-size: 3.75rem; font-weight: 700; line-height: 1.4; color: #fff;
    margin-bottom: 30px;
}
#wrap main #main_wrap .quiz_wrap > p {
    font-size: 1.5rem; line-height: 1.4;
    margin-bottom: 80px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents {}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap {
    width: max-content; background-color: #fff; border-radius: 30px;
    margin: 0 auto 80px; display: flex; padding: 40px 60px; align-items: center;
    text-align: left;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap {margin-right: 89px;}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap h2 {
    font-size: 2.125rem; font-weight: 600; line-height: 1.4;
    margin-bottom: 40px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice {
    display: flex; flex-flow: column nowrap;
    margin: 0 0 0 50px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label {
    margin-bottom: 12px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label input[name=quiz] {display: none;}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .left_wrap .quiz_choice label input[name=quiz] +span {
    font-size: 1.5rem; line-height: 1.4;
    background: url(../image/icon_quiz_off.png) no-repeat; background-position-y: 7px ;
    padding-left: 32px;
    
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice {
    text-align: left; height: max-content;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice dt{
    font-size: 1.125rem; font-weight: 600; line-height: 1.4;
    color: #00b8ff; width: max-content;
    border-bottom: 2px solid #00b8ff;
    margin-bottom: 8px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice dd:nth-child(2){
    margin-bottom: 30px;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_contents_wrap .quiz_notice dd{
    font-size: 1.125rem; line-height: 1.4;
}
#wrap main #main_wrap .quiz_wrap #quiz_contents .quiz_btn{}
.btn_style{
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 40px;
    background-color: #fff;
    font-size: 1.75rem; font-weight: 500; line-height: 1.4; color: #00b8ff;
    border-radius: 50px;
    position: relative; left: 50%; transform: translateX(-50%);
}
.btn_style img{
    margin-left: 4px;
}
/* 4행 동영상 ================================================================== */
#wrap main #main_wrap .video_wrap {
    text-align: center;
    padding-bottom: 160px;
}
#wrap main #main_wrap .video_wrap .event_line {
    padding: 100px 0 160px 0;
}
#wrap main #main_wrap .video_wrap .event_line p:nth-child(1){
    height: 80px;
    background: url(../image/socar_line01.png) repeat-x center;
}
#wrap main #main_wrap .video_wrap .event_line p:nth-child(2){
    height: 80px;
    background: url(../image/socar_line02.png) repeat-x left;
}
#wrap main #main_wrap .video_wrap .video_contents {
}
#wrap main #main_wrap .video_wrap .video_contents iframe{
    margin-bottom: 60px;
}
#wrap main #main_wrap .video_wrap .video_contents .youtube_btn {
    border: 1px solid #00b8ff;
    width: max-content;
}
/* 5행 서비스 스크롤 ===================================================================== */

/* 6행 월간 ========================================== */

/* 7행 숙박 ========================================== */

/* 8행 이미지 ========================================== */
#wrap main #main_wrap .car_bg_wrap {}
#wrap main #main_wrap .car_bg_wrap .car_bg::before{
    content: ''; display: block;
    height: 80vh;
    background: rgba(0, 0, 0, 0.4);
}
#wrap main #main_wrap .car_bg_wrap .car_bg{
    height: 80vh;
    background: url(../image/img_car_driving.jpg) no-repeat fixed center 60% / cover;
}